body
{
	font-family: "Sans";
	background-color: #def2f3;
	color: #24454c;
	padding: 1% 10%;
}

a:link, a:visited, a:active
{
	color: #589ba4;
	text-decoration:none;
}

a:hover
{
	color: #1ad3f1;
}

ul
{
	list-style-type: none;
}

#nav ul
{
	float: left;
	width: 100%;
}

#nav li
{
	float: left;
	margin: 0px 10px;
}

table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
	border-color: #1093a7;
}

th
{	
	padding: 5px 15px;
	background-color: #1093a7;
	color: #def2f3;
}

td
{
	padding: 5px 15px;

}
